@charset "utf-8";

body {
  background-color: #000000;
  color: #FFF;
  text-align: center;
}

a:link, a:visited, a:active, a:hover {
  color: #FFF;
}

#centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 640px;
  height: 320px;
  margin-top: -180px;
  margin-left: -320px;
}
